<%- include("partials/header") %>

<section id="home">
  <div class="sub-section intro">
    <div class="container-fluid">
      <div class="text-pic">
        <div class="row">
          <div class="col intro-text">
            <div class="flip-in-hor-bottom">
              <h1>I'm</h1>
              <h1>into</h1>
              <h1 class="full-stack">Full-Stack</h1>
              <h1>web-development</h1>
            </div>
            <div class="focus-in-contract-bck">
              <p>Creating a Functional, Responsive and User-friendly Website</p>
            </div>
          </div>
          <div class="col profile">
            <img class="prof-pic" src="/img/prof3.jpg" alt="profile-img" />
            <div class="prof-text">
              <h3>Okesanjo Oluwafemi</h3>
              <h5>Welcome to my web world</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="sub-section about">
    <div class="about-top">
      <div class="about-img">
        <div class="about-overlay">
          <h1>About</h1>
        </div>
      </div>
    </div>
    <div class="about-content">
      <div class="about-img-text">
        <div class="about-image">
          <img src="/img/prof2.jpg" style="max-width: 15rem" alt="" srcset="" />
          <div class="about-intro">
            <h3 style="font-size: calc(1rem + 0.6vw)">Oluwafemi Okesanjo G.</h3>
            <h5 style="font-size: medium">CEO moreHOPE web-dev</h5>
          </div>
        </div>
        <div class="about-text">
          <h2>Full-Stack Web Developer</h2>
          <p>
            I'm equipped with a drive to create innovative and User-friendly
            digital experiences. With a strong foundation in professional
            practices both in front-end and back-end development.
            <br />
            My expertise spans a range of best performing technologies and
            frameworks, including<span class="tech-decor">
              HTML, CSS, JavaScript, React, Node.js, MongoDB...</span
            >
            I'm always eager to learn and adapt to new technologies, ensuring my
            skills stay up-to-date and relevant.
          </p>
          <p>
            As a full-stack developer, I enjoy the challenge of bringing ideas
            to life, from conceptualization to deployment. My goal is to craft
            seamless, intuitive and visually stunning experiences that leave a
            lasting impression.
          </p>
          <p>
            When I'm not coding, you can either find me enjoying nice moments
            with my family or surfing the internet. I'm excited to collaborate
            with like-minded individuals and contribute my skills to build
            something amazing.
          </p>
          <p>
            Feel free to explore my portfolio and get in touch for discussion on
            opportunities and projects.
          </p>
          <div style="margin-top: 1.5rem; position: relative">
            <a href="#contact" class="about-btn">Get in Touch!</a
            ><span class="point-icon">👈🏽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="skills" class="skills">
  <div class="sub-skill">
    <div class="skill-title">
      <p style="font-weight: bold; font-size: x-large">Check out!</p>
    </div>
    <div class="skills-grid">
      <div class="technical-skills">
        <h2>Technical Skills</h2>

        <div class="container">
          <div class="row tech-skill">
            <div class="col p-0">
              <div class="card">
                <a
                  href="https://en.m.wikipedia.org/wiki/File:HTML5_logo_and_wordmark.svg"
                  class="btn skill-logos">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/1051/1051277.png"
                    class="card-img-top"
                    alt="HTML"
                    style="width: 3rem" /><br />
                  <strong class="card-title">HTML</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a
                  href="https://www.w3schools.com/css/"
                  class="btn skill-logos">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/732/732190.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">CSS</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="https://www.javascript.com/" class="btn skill-logos">
                  <img
                    src="https://cdn-icons-png.flaticon.com/128/5968/5968292.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">JavaScript</strong></a
                >
              </div>
            </div>
          </div>
          <div class="row tech-skill">
            <div class="col p-0">
              <div class="card">
                <a href="https://jquery.com/" class="btn skill-logos">
                  <img
                    src="https://w7.pngwing.com/pngs/720/46/png-transparent-jquery-plain-wordmark-logo-icon-thumbnail.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">JQuery</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="https://nodejs.org/en" class="btn skill-logos">
                  <img
                    src="https://images.credly.com/size/340x340/images/51aeb74b-ec87-4069-93fc-0ea449c8d77f/node.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">NodeJS</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="https://react.dev/" class="btn skill-logos">
                  <img
                    src="https://w7.pngwing.com/pngs/403/269/png-transparent-react-react-native-logos-brands-in-colors-icon-thumbnail.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">React</strong></a
                >
              </div>
            </div>
          </div>
          <div class="row tech-skill">
            <div class="col p-0">
              <div class="card">
                <a href="https://getbootstrap.com/" class="btn skill-logos">
                  <img
                    src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">Bootstrap</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="https://ejs.co/#promo" class="btn skill-logos">
                  <img
                    src="https://img.icons8.com/?size=256&id=Pxe6MGswB8pX&format=png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">Ejs</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="https://expressjs.com/" class="btn skill-logos">
                  <img
                    src="https://img.icons8.com/?size=80&id=9Gfx4Dfxl0JK&format=png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">Express</strong></a
                >
              </div>
            </div>
          </div>
          <div class="row tech-skill">
            <div class="col p-0">
              <div class="card">
                <a href="https://www.mysql.com/" class="btn skill-logos">
                  <img
                    src="https://cdn-icons-png.freepik.com/256/1199/1199128.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">MySQL</strong></a
                >
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="" class="btn skill-logos" style="width: 3rem">
                  <strong class="card-title"></strong
                ></a>
              </div>
            </div>
            <div class="col p-0">
              <div class="card">
                <a href="https://www.mongodb.com/" class="btn skill-logos">
                  <img
                    src="https://w7.pngwing.com/pngs/956/695/png-transparent-mongodb-original-wordmark-logo-icon-thumbnail.png"
                    class="card-img-top"
                    alt="..."
                    style="width: 3rem" /><br />
                  <strong class="card-title">MongoDB</strong></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="soft-skill">
        <div class="sub-soft-skill">
          <h2>Soft Skills</h2>
          <ul style="text-wrap: nowrap; padding-left: 5px">
            <li><span class="skill-icon">✔</span>Communication Skills</li>
            <li><span class="skill-icon">✔</span>Time Management</li>
            <li><span class="skill-icon">✔</span>Teamwork</li>
            <li><span class="skill-icon">✔</span>Problem Solving Skill</li>
            <li><span class="skill-icon">✔</span>Attention to Details</li>
          </ul>
        </div>

        <div class="cert-skill">
          <h2>Certifications & Education</h2>
          <ul style="padding-left: 5px">
            <li>
              <span class="skill-icon">✔</span>Full-Stack Web Development
              (AppBrewry)
            </li>
            <li>
              <span class="skill-icon">✔</span>Computer Literacy Course (Jaroy
              IT Academy/Cisco)
            </li>
            <li>
              <span class="skill-icon">✔</span>Computer Hardware Basics (Cisco)
            </li>
            <li>
              <span class="skill-icon">✔</span>Introduction to Cyber Security
              (CISCO)
            </li>
            <li>
              <span class="skill-icon">✔</span>NYSC - National Youth Service
              Corp
            </li>
            <li>
              <span class="skill-icon">✔</span>Higher National Diploma in
              Electrical Engineering (Power)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="project">
  <div class="sub-project">
    <div class="project-heading">
      <span>What I've been up to!</span>
    </div>
    <div class="project-carousel">
      <button
        class="carousel-control"
        id="projectPrev"
        aria-label="Previous project">
        ←
      </button>
      <div class="project-slide" id="projectSlide">
        <article class="project-card">
          <img
            id="projectImage"
            src="/img/morehope.png"
            alt="Project screenshot" />
          <div class="project-card-content">
            <h2 id="projectTitle">Project Title</h2>
            <p id="projectDescription">Project description goes here.</p>
            <a
              id="projectLink"
              class="project-btn"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Visit App</a
            >
          </div>
        </article>
      </div>
      <button
        class="carousel-control"
        id="projectNext"
        aria-label="Next project">
        →
      </button>
    </div>
    <div class="project-indicator">
      <span id="projectCounter">1 / 3</span>
    </div>
  </div>
</section>

<script>
  const projectData = [
    {
      title: "moreHOPE Web Portfolio",
      description:
        "A responsive personal portfolio built with modern HTML, CSS, and JavaScript.",
      image: "/img/morehope.png",
      url: "https://example.com/project-1",
      alt: "moreHOPE portfolio screenshot",
    },
    {
      title: "MyWebNote",
      description:
        "A well styled online note web app equiped with edit and download in pdf or png file format",
      image: "/img/Test-2026-06-12.png",
      url: "https://mywebnote.vercel.app",
      alt: "PNG sample of note taken",
    },
    {
      title: "Portfolio Page",
      description:
        "An interactive showcase highlighting project features and navigation.",
      image: "/img/cap.png",
      url: "https://example.com/project-3",
      alt: "Dashboard project screenshot",
    },
      {
      title: "Contact Page",
      description:
        "An interactive showcase highlighting project features and navigation.",
      image: "/img/contactpage.png",
      url: "https://example.com/project-3",
      alt: "Dashboard project screenshot",
    },
      {
      title: "About Page",
      description:
        "An interactive showcase highlighting project features and navigation.",
      image: "/img/aboutpage.png",
      url: "https://example.com/project-3",
      alt: "Dashboard project screenshot",
    },
  ];

  let currentProjectIndex = 0;

  const titleEl = document.getElementById("projectTitle");
  const descriptionEl = document.getElementById("projectDescription");
  const imageEl = document.getElementById("projectImage");
  const linkEl = document.getElementById("projectLink");
  const counterEl = document.getElementById("projectCounter");

  function renderProject(index) {
    const project = projectData[index];
    titleEl.textContent = project.title;
    descriptionEl.textContent = project.description;
    imageEl.src = project.image;
    imageEl.alt = project.alt;
    linkEl.href = project.url;
    counterEl.textContent = `${index + 1} / ${projectData.length}`;
  }

  document.getElementById("projectPrev").addEventListener("click", () => {
    currentProjectIndex =
      (currentProjectIndex - 1 + projectData.length) % projectData.length;
    renderProject(currentProjectIndex);
  });

  document.getElementById("projectNext").addEventListener("click", () => {
    currentProjectIndex = (currentProjectIndex + 1) % projectData.length;
    renderProject(currentProjectIndex);
  });

  renderProject(currentProjectIndex);
</script>

<section id="contact" class="contact-sec">
  <div class="sub-contact-sec">
    <div class="card shadow-sm contact-me con-me">
      <div class="contact-title">
        <h2>Get in Touch!</h2>
        <p>I'm always eager to hear from you</p>
      </div>
      <form action="https://formspree.io/f/xojzlezz" method="POST" target="">
        <div class="contact-form">
          <div class="mb-3">
            <label for="formControlInput" class="form-label">Your Name:</label>
            <input type="text" class="form-control" id="formControlInput" />
          </div>
          <div class="mb-3">
            <label for="formControlInput1" class="form-label"
              >Email address:</label
            >
            <input
              type="email"
              class="form-control"
              name="email"
              id="formControlInput1"
              placeholder="name@example.com"
              required />
          </div>
          <div class="mb-3">
            <label for="formControlTextarea1" class="form-label"
              >Your Message:</label
            >
            <textarea
              class="form-control"
              id="formControlTextarea1"
              name="message"
              rows="3"
              required></textarea>
          </div>
          <button type="submit" class="btn-form">Send Message</button>
        </div>
      </form>
    </div>
    <div class="contact-me social">
      <img
        src="https://img.freepik.com/free-vector/mention-concept-illustration_114360-231.jpg?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid"
        alt="contact"
        srcset=""
        style="width: 20rem; border-radius: 6rem; clip-path: inset(7%)" />

      <div class="contact-us">
        <span style="font-weight: bold">LET'S MEET</span>
        <div class="social-icons">
          <a
            href="http://www.facebook.com/morehope.webdev"
            style="text-decoration: none"
            ><img
              src="https://cdn-icons-png.freepik.com/256/5968/5968764.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid"
              alt="facebook"
              srcset=""
          /></a>
          <a href="http://wa.me/09066040055"
            ><img
              src="https://cdn-icons-png.freepik.com/256/733/733585.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid"
              alt="WhatsApp"
              srcset=""
          /></a>
          <a href="http://www.linkedin.com/in/okesanjo-femi-792bb5207"
            ><img
              src="https://cdn-icons-png.freepik.com/256/15207/15207550.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid"
              alt="LinkedIn"
              srcset=""
          /></a>
          <a href="http://github.com/PHEMzee"
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
              alt="GitHub"
              srcset=""
          /></a>
          <a href="http://"
            ><img
              src="https://cdn-icons-png.freepik.com/256/4494/4494485.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid"
              alt="YouTube"
              srcset=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>
