<%- include("partials/header") %>
<!--  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img id="img-logo" src="/img/morehope.png" alt="moreHOPE">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

<section class="container-fluid intro-sec">

  <div class="row sub-intro">
    <div class="col intro-left">
      <div class="intro-text">
        <h1><strong>I'm</strong></h1>
        <h1><strong>into</strong></h1>
        <h1><strong>Full Stack</strong></h1>
        <h1><strong>web-development</strong></h1>
        <p>Creating a functional, responsive and user friendly interface</p>
      </div>
    </div>

    <div class="col">
      <img class="prof-pic" src="/img/prof2.jpg" alt="profile-img">
      <div class="prof-text">
        <h3>Okesanjo Oluwafemi</h3>
        <h5>Welcome to my web world</h5>
      </div>    
    </div>
  </div>
</section>
<section class="projects-sec">
    <h2>Projects-Section</h2>
        <img src="" alt="screenshot">
        <li>Description</li>
        <li>Tools & Techs</li>
        <li>Links</li>
    <h2>Client Testimonials</h2>
</section>
<section class="container skills">
    <div class="row skills-sec ">
    <div class="col technical-skills">
        <h2>Technical Skills</h2>
        
        <div class="container">
            <div class="row tech-skill">
              <div class="col p-0">
                <div class="card">
                    <a href="https://en.m.wikipedia.org/wiki/File:HTML5_logo_and_wordmark.svg" class="btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/1051/1051277.png" class="card-img-top" alt="HTML" style="width: 3rem;"><br>
                    <strong class="card-title">HTML</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://www.w3schools.com/css/" class="btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">CSS</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://www.javascript.com/" class="btn">
                    <img src="https://cdn-icons-png.flaticon.com/128/5968/5968292.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">JavaScript</strong></a>
                </div>
              </div>
            </div>
            <div class="row tech-skill">
              <div class="col p-0">
                <div class="card">
                    <a href="https://jquery.com/" class="btn">
                    <img src="https://static-00.iconduck.com/assets.00/jquery-original-wordmark-icon-485x512-7kn0h2yt.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">JQuery</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://nodejs.org/en" class="btn">
                    <img src="https://static-00.iconduck.com/assets.00/node-js-icon-454x512-nztofx17.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">NodeJS</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://react.dev/" class="btn">
                    <img src="https://static-00.iconduck.com/assets.00/react-icon-512x456-2ynx529a.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">React</strong></a>
                </div>
              </div>
            </div>
            <div class="row tech-skill">
              <div class="col p-0">
                <div class="card">
                    <a href="https://getbootstrap.com/" class="btn">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">Bootstrap</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://ejs.co/#promo" class="btn">
                    <img src="https://img.icons8.com/?size=256&id=Pxe6MGswB8pX&format=png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">Ejs</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://expressjs.com/" class="btn">
                    <img src="https://img.icons8.com/?size=80&id=9Gfx4Dfxl0JK&format=png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">Express</strong></a>
                </div>
              </div>
            </div>
            <div class="row tech-skill">
              <div class="col p-0">
                <div class="card">
                    <a href="https://www.mysql.com/" class="btn">
                    <img src="https://cdn-icons-png.freepik.com/256/1199/1199128.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">MySQL</strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="" class="btn" style="width: 3rem;">
                    <strong class="card-title"></strong></a>
                </div>
              </div>
              <div class="col p-0">
                <div class="card">
                    <a href="https://www.mongodb.com/" class="btn">
                    <img src="https://w7.pngwing.com/pngs/956/695/png-transparent-mongodb-original-wordmark-logo-icon-thumbnail.png" class="card-img-top" alt="..." style="width: 3rem;"><br>
                    <strong class="card-title">MongoDB</strong></a>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="soft-skill col">
        <h2>Soft Skills</h2>
            <li>Good communication Skills</li>
            <li>English and Spanish</li>
            <li>Teamwork</li>
            <li>Problem Solving</li>
            <li>Time Management</li>
            <li>Good Attention to Details</li>
        <h2>Certifications & Education</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    </div>
</section>
<section class="service-sec">
    <h2>Services</h2>
        <li>Web Development</li>
        <li>Mobile App Development</li>
        <li>e-commerce solutions</li>
        <li>Website maintenance</li>
        <li>Data Entry</li>
        <li>Debugging</li>
        <li>Training</li>
        <li>Writer</li>
    <p>Techs and benefits</p>
    <h2>Packages and Price</h2>
</section>
<section class="blog-sec">
    <h2>Blog</h2>
    <h2>Tech News</h2>
    <h2>Resources Links</h2>
</section>
<section class="container contact-sec">
  <div class="row sub-contact-sec">
    <div class="col contact-me con-me">
    <div class="contact-title">
      <h2>Get in Touch!</h2>
      <p>I'm always eager to hear from you</p>
    </div>
      <div class="contact-form">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Your Name:</label>
          <input type="email" class="form-control" id="exampleFormControlInput2">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Your Message:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn-form">Send Message</button>
      </div>
    </div>
    <div class="col p-0 contact-me">
      <img src="https://img.freepik.com/free-vector/mention-concept-illustration_114360-231.jpg?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" alt="contact" srcset="">

      <div class="contact-us">CONTACT US

        <div class="social-icons">
          <img src="https://cdn-icons-png.freepik.com/256/5968/5968764.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" alt="facebook" srcset="">

          <img src="https://cdn-icons-png.freepik.com/256/733/733585.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" alt="WhatsApp" srcset="">

          <img src="https://cdn-icons-png.freepik.com/256/15207/15207550.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" alt="LinkedIn" srcset="">

          <img src="/img/branch.png" alt="Git" srcset="">

          <img src="https://cdn-icons-png.freepik.com/256/4494/4494485.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" alt="YouTube" srcset="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta-sec">
    <h2>Call to Action</h2>
    <h3>Having a project?</h3>
    <button>Hire me!</button>
</section>
<%- include("partials/footer") %>

<!-- <a href="https://iconscout.com/lottie-animations/web-development" class="text-underline font-size-sm" target="_blank">Web Development</a> by <a href="https://iconscout.com/contributors/designsells" class="text-underline font-size-sm" target="_blank">designsells</a> -->