<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <!-- <img src="/img/webdev.png" class="logo" alt="img" srcset=""> -->
            <h1 class="title">moreHOPE</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<section class="container-fluid intro-sec">
  <div class="row">
    <div class="col-md-6 intro-left">
      <h1>I'm</h1><br>
      <h1>into</h1><br>
      <h1>web-development</h1><br>
      <h3>Okesanjo Oluwafemi</h3>
      <h4>Welcome to my web world</h4>
    </div>
    <div class="col-md-6">
      <img src="" alt="profile-img">
    </div>
  </div>
</section>
<section class="projects-sec">
    <h2>Projects-Section</h2>
        <img src="" alt="screenshot">
        <li>Description</li>
        <li>Tools & Techs</li>
        <li>Links</li>
    <h2>Client Testimonials</h2>
</section>
<section class="skills">
    <div class="skills-sec row">
    <div class="technical-skills col">
        <h2>Technical Skills</h2>
        
        <div class="container-fluid text-center">
            <div class="row">
              <div class="col">
                <div class="card">
                    <a href="https://en.m.wikipedia.org/wiki/File:HTML5_logo_and_wordmark.svg" class="btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/1051/1051277.png" class="card-img-top" alt="HTML" style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">HTML</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://www.w3schools.com/css/" class="btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">CSS</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://www.javascript.com/" class="btn">
                    <img src="https://cdn-icons-png.flaticon.com/128/5968/5968292.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">JavaScript</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                    <a href="https://jquery.com/" class="btn">
                    <img src="https://static-00.iconduck.com/assets.00/jquery-original-wordmark-icon-485x512-7kn0h2yt.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">JQuery</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://nodejs.org/en" class="btn">
                    <img src="https://static-00.iconduck.com/assets.00/node-js-icon-454x512-nztofx17.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">NodeJS</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://react.dev/" class="btn">
                    <img src="https://static-00.iconduck.com/assets.00/react-icon-512x456-2ynx529a.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">React</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                    <a href="https://getbootstrap.com/" class="btn">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">Bootstrap</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://ejs.co/#promo" class="btn">
                    <img src="https://img.icons8.com/?size=256&id=Pxe6MGswB8pX&format=png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">Ejs</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://expressjs.com/" class="btn">
                    <img src="https://img.icons8.com/?size=80&id=9Gfx4Dfxl0JK&format=png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">Express</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                    <a href="https://www.mysql.com/" class="btn">
                    <img src="https://cdn-icons-png.freepik.com/256/1199/1199128.png?uid=R180883942&ga=GA1.1.1495100215.1707591332&semt=ais_hybrid" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">MySQL</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <a href="https://www.mongodb.com/" class="btn">
                    <img src="https://w7.pngwing.com/pngs/956/695/png-transparent-mongodb-original-wordmark-logo-icon-thumbnail.png" class="card-img-top" alt="..." style="width: 5rem; height: 5rem;"><br>
                    <strong class="card-title">MongoDB</strong></a>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="soft-skill col">
        <h2>Soft Skills</h2>
            <li>Good communication Skills</li>
            <li>English and Spanish</li>
            <li>Teamwork</li>
            <li>Problem Solving</li>
            <li>Time Management</li>
            <li>Good Attention to Details</li>
        <h2>Certifications & Education</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    </div>
</section>
<section class="service-sec">
    <h2>Services</h2>
        <li>Web Development</li>
        <li>Mobile App Development</li>
        <li>e-commerce solutions</li>
        <li>Website maintenance</li>
        <li>Data Entry</li>
        <li>Debugging</li>
        <li>Training</li>
        <li>Writer</li>
    <p>Techs and benefits</p>
    <h2>Packages and Price</h2>
</section>
<section class="blog-sec">
    <h2>Blog</h2>
    <h2>Tech News</h2>
    <h2>Resources Links</h2>
</section>
<section class="contact-sec">
    <h2>Contact Form</h2>
    <h2>Social Media Platforms</h2>
</section>
<section class="cta-sec">
    <h2>Call to Action</h2>
    <h3>Having a project?</h3>
    <button>Hire me!</button>
</section>

</body>
</html>