.skills {
    background-color: #70d377;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}
.sub-skill{
  h2{
    color: #70d377;
  }
  width: 90vw;
  background-color: aliceblue;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0 3rem;
}
.skills-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: min-content;
  /* text-wrap: nowrap; */
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  justify-items: center;
  align-self: center;
}
.skill-title{
  margin: 0 3rem 1rem;
  color: #9C2701;
}
@media (max-width: 768px) {
  .skills-grid{
    grid-template-columns: 1fr;
    gap: auto;
  }
  .sub-skill{
    padding: 2rem;
    width: 100vw;
  }
  .skill-title{
    margin: 0;
  }
}
.card {
    border: none !important;
    justify-self: center;
    width: fit-content;
  }
  
.card-title{
  font-variant: small-caps;
  vertical-align: sub;
}
.skill-logos{
  border: none !important;
  padding: 5px !important;
}
.tech-skill{
  align-items: end;
  background-color: #ffffff;
  margin-bottom: 2px;
  padding: 5px;
}

.technical-skills {
  min-width: 18rem;
  max-width: 30rem;
  padding: 20px 10px;
  background-color: #f0f8ff;
  border: none;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(57, 31, 78, 0.5);
}

.technical-skills h2 {
  margin-top: 0;
}

.technical-skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.technical-skills li {
  margin-bottom: 10px;
}

.technical-skills li i {
  margin-right: 10px;
  font-size: 24px;
  color: #666;
}

.technical-skills li:hover i {
  color: #333;
}

.soft-skill{
  padding: 0 20px;
}
.skill-icon{
  display: inline-block;
  margin-right: 5px;
}