body {
    font-family: "DM sans", Arial, sans-serif;
    color: #333;    
    background-color: rgb(234, 234, 252);
    align-items: center;
    margin: 0;
}

li {
    list-style: none;
  }
h2{
color: #70d377;
font-weight: bolder;
}
h5{
font-family: cursive;
}

#img-logo{
    width: 7rem;
    height: auto;
  }
.sec-title{
    color: #70d377;
}
section{
    width: 100%;
    padding: 0;
    margin: 0;
}
.sub-section {
    width: 100vw;
    min-height: 100vh;
    padding: 20px 0;
    margin: 0;
}



.blog-sec{
    background-color: #70d377;
  }
  /* .contact-sec{
  } */
  .cta-sec{
    h3{
      color: mediumblue;
    }
    button{
      background-color: #fff;
      border: solid 1px #0e0efe91;
      margin-top: 20px;
      width: 15rem;
      padding: 5px;
      color: #0e0efe91;
      border-radius: 20px;
      font-size: 1.5rem;
    }
    button:hover{
      background-color: #0e0efe91;
      color: #fff;
    }
    background-color: #70d377;
  }
  